{
  "serverUrl": "http://localhost:3000",
  "device": {
    "name": "Device1",
    "platform": "ios",
    "deviceType": "tablet",
    "osVersion": "6.1"
  },
 "type":"cucumber",
 "projectPath": "/path/of/cucumber/project",
 "reportDir": "results",
 "apk":"",
 "environment":{
 	"NO_LAUNCH": 1,
 	"DEVICE": "ipad",
 	"OS": "ios6"
  }
}